<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectroDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElectroDesk.Properties.Settings>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PicName" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrayBaloon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdTime" serializeAs="String">
                <value>30</value>
            </setting>
        </ElectroDesk.Properties.Settings>
    </userSettings>
</configuration>